* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f5f7fa;
    color: #333;
}

/* NAVBAR */
.navbar {
    background: #0b3c5d;
    color: #fff;
    padding: 18px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links a,
.lang-btn {
    color: #fff;
    text-decoration: none;
    margin-left: 18px;
    font-weight: 600;
}

/* NOTICE BAR */
.notice-bar {
    background: #1d8cf8;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* HERO */
.hero {
    min-height: 90vh;
    background:
        linear-gradient(rgba(11,60,93,0.65), rgba(11,60,93,0.65)),
        url("https://z-p3-scontent.fdac12-1.fna.fbcdn.net/v/t39.30808-6/615145754_122162279900839676_5662597231693126950_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=833d8c&_nc_ohc=aXpDYBGSmUMQ7kNvwErbTER&_nc_oc=AdncN273q6qx_3Yo6ufvNLW9gI1RX7gfwuOijhk0EmncjVgQhAtAEkYvqTpi4x_KWoo&_nc_zt=23&_nc_ht=z-p3-scontent.fdac12-1.fna&_nc_gid=VfLv0oLcP2FWHhYapKsI4g&oh=00_AfqlY1Oz0zpByTcL1X34_a0TpRS7QPX6DFU9ZUEqFJvk4g&oe=697CE0E0");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

/* SECTIONS */
.section {
    padding: 70px 12%;
    text-align: center;
}

.section.light {
    background: #fff;
}

.cards, .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap: 25px;
}

.card, .notice-list li {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
}

/* FOOTER */
footer {
    background: #0b3c5d;
    color: #fff;
    text-align: center;
    padding: 20px;
}
