* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f6f8ff;
    line-height: 1.6;
}

/* NAVBAR */
.navbar {
    background: #002b5c;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 18px;
    font-weight: bold;
}

.navbar a:hover {
    color: #ffcc00;
}

/* HERO */
.hero {
    height: 85vh;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
    url('https://images.unsplash.com/photo-1524995997946-a1c2e315a42f') center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 50px;
}

.hero button {
    margin-top: 20px;
    padding: 12px 30px;
    border: none;
    background: #ffcc00;
    font-size: 16px;
    cursor: pointer;
}

/* SECTIONS */
.section {
    padding: 60px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background: white;
    width: 260px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
}

/* NOTICE */
.notice {
    background: #002b5c;
    color: white;
    padding: 15px;
    font-weight: bold;
}

/* GALLERY */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
}

/* FORM */
form {
    max-width: 450px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    margin-top: 20px;
    padding: 12px;
    width: 100%;
    border: none;
    background: #002b5c;
    color: white;
    font-size: 16px;
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}
